@{
    ViewData["Title"] = "Home Page";
}

@section myScripts{
    @* <script src="/js/home.js" defer></script> *@
}

<div class="text-center">
    <h1 class="display-4">Internet Of Things Server</h1>
    <p>Control devices</p>
    <img src="~/img/app.jpg" class="img-fluid" alt="Responsive image">
</div>