@{
    ViewData["Title"] = "Dashboard";
}

@section myScripts{
    <script src="/js/dashboard.js" defer></script>
}
<div>
    <div class="header text-center">
        <h1>Dashboard</h1>
        <p>Dit is het dashboard</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="groups"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5>Nieuwe apparaten</h5>
                <div class="newDevices">
                    
                </div>
            </div>
    </div>
</div>
