@{
    ViewData["Title"] = "Dashboard";
}

@section myScripts{
    <script src="/js/dashboard.js" defer></script>
}

<div class="text-center">
    <h1 class="display-4">Dashboard</h1>
    <p>Dit is het dashboard</p>
    <div class="groups"></div>
</div>
